{# Renderizar templates que podem ser usados para preencher o modal de submissão ou página de detalhes #}
<script type="text/template" id="empty-submission-list">
    <div class="alert alert-warning">Nenhuma submissão</div>
</script>
<script type="text/template" id="submission-list">
    <table
        class="data-table table table-hover table-striped table-sm submissions-table">
        <thead class="thead-light">
        <tr>
            <th scope="col">hora</th>
            <th scope="col">linguagem</th>
            <th scope="col">resultado</th>
        </tr>
        </thead>
        <tbody data-submission-list>
        </tbody>
    </table>
</script>
<script type="text/template" id="submission-list-item">
    <tr>
        <td data-time></td>
        <td class="langid" data-language-id></td>
        <td data-verdict></td>
    </tr>
</script>