{% extends "team/base.html.twig" %}

{% block title %}{{ parent() }} - Imprimir{% endblock %}

{% block extrahead %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container pt-5">
        <h1 class="text-center">Imprimir código-fonte</h1>

        <pre class="output_text m-3">
{{ output }}
</pre>

        {% if success %}
            <div class="alert alert-success">O ficheiro foi impresso</div>
        {% else %}
            <div class="alert alert-danger">Erro ao imprimir. Contacte a equipa.</div>
        {% endif %}

        <a href="./" class="btn btn-secondary mt-3">Fechar</a>
    </div>

{% endblock %}