{% extends "team/base.html.twig" %}

{% block title %}Imprimir - {{ parent() }}{% endblock %}

{% block content %}

    <div class="container submitform pt-5">
        <h1 class="text-center">Imprimir código-fonte</h1>
        {{ form(form) }}
    </div>

{% endblock %}

{% block extrafooter %}
    {% include 'partials/javascript_print.html.twig' %}
{% endblock %}